@media(max-width:991px){

    htmnl{
        font-size: 55%;
        
    }

    .header{
        padding: 2rem;
    }

}

@media(max-width:768px){

    #menu-btn{
        display: inline-block;
    }

   .header{
       .navbar{
           position: absolute;
           top: 99%;
           left: 0;
           right: 0;
           background: $white;

           clip-path: polygon(0 0,100% 0,100% 0,0 0);

           &.active{
               clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
           }

           a{
               display: block;
               margin: 2rem;
               font-size: 2rem;
           }
       }
   }

}

@media(max-width:991px){

    htmnl{
        font-size: 50%;
    }

    .header{
        padding: 2rem;
    }

}